---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import GovDirectory from '../components/GovDirectory.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Government Directory | Official .Gov Resources">
  <Nav />
  <main>
    <GovDirectory />
  </main>
  <Footer />
</Layout>
