---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import GovDirectory from '../components/GovDirectory.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Government Directory | Official .Gov Resources" description="Find official .gov DMV websites for all 50 states. Safely verify your traffic citation with verified government resources.">
  <Nav />
  <main class="w-full flex flex-col">
    <GovDirectory />
  </main>
  <Footer />
</Layout>
