---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import TollAlerts from '../components/TollAlerts.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Toll Fraud Alerts | SunPass & E-ZPass Scams">
  <Nav />
  <main>
    <TollAlerts />
  </main>
  <Footer />
</Layout>
